@tailwind base;
@tailwind components;
@tailwind utilities;
 *,html{
   padding:0;
   margin:0;
   box-sizing:border-box;
   scroll-behavior: smooth;
 }
body{
  background-color:#34383A;

  
}
.test{
  color:#27292c;
}
 .conactive {
   position: fixed;
   height: 3rem;
   box-shadow: 0 0 8px rgba(0, 0, 0,.9);
   background-color: #27292c;
 }

 .containerr {
   height: 3rem;
   position: sticky;
   background: transparent;
 }



 p,h1,h4,h5,h6,h2,h3,small,a{
  color:#E8E5DF;
 }
  p{
    justify-content:center;
    align-items:center;
    display:flex;
    break-inside: avoid;
    word-wrap:break-word;
    text-align:center;
    margin-top: .222rem;
    font-weight: 300;
  }
  
