@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color:#34383A;

  /* background-color:rgb(205, 206, 207); */
  
}
.test{
  color:#342e36;
}
.active{
 display:flex;
 transition: all 0.3s;
}
 p,h1,h4,h5,h6,h2,h3,small,a{
  color:#E8E5DF;
 }
  p{
    justify-content:center;
    align-items:center;
    display:flex;
    break-inside: avoid;
    word-wrap:break-word;
    text-align:center;
    margin-top: .222rem;
    font-weight: 300;
  }
  
